<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/WatchTest" version="1.0.0" viewmodes="maximized">
    <access origin="https://widget.coinlib.io" subdomains="false"/>
    <tizen:application id="CxupLLGtqx.WatchTest" package
    ="CxupLLGtqx" required_version="5.5"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>WatchTest</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
</widget>
